{% extends 'Homeapp/base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<section class="about-section" id="about">
    <div class="container">
        <div class="">
            <div class="col-lg-8 mx-auto py-5">
                <div class="container border p-5">
                    <div class="content-section text-white">
                        <div class="media">
                            <img class="rounded-circle " src="{{ user.profile.image.url }}" />
                            <div class="media-body">
                                <h2 class="account-heading">{{user.username}}</h2>
                                <p class="text-secondary">{{user.email}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token%}
                    <feiledset class="form-group text-white">
                        <legend class="border-bottom mb-4">Profile information</legend>
                        {{u_form | crispy }}
                        {{p_form | crispy }}

                    </feiledset>
                    <div class="form-group text-right">
                        <button class="btn btn-outline-info" type="submit"> Save Changes</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
<section class="signup-section" id="signup">
    <div class="container  text-white">
        {% if uservideos.count == 0 %}
        <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
        <h2 class="text-white mb-5">Oops</h2>
        <small>No Vidieos Yet :(</small>
        {% endif %}
        {% for video in uservideos %}
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto text-center">

                <div class="content">
                    <a href=""><img style="width:17em; height:10em"
                            src="{% static 'Homeapp/img/placeholder.png' %}"></a>
                </div>
                <div class="flex-top">
                    <h3><a class="" href="{% url 'show' video.id %}">{{video.name}}</a></h3>
                    <small>Uploaded on {{video.uploaded_at}}</small>
                </div>
            </div>
        </div>
        
        {% endfor %}
    </div>
</section>
{% endblock content %}