{% extends "Homeapp/base.html" %}
{% load crispy_forms_tags %}
{% block content%}


<section class="about-section text-center" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="container">
                    <h1 class="text-white mb-4 text center"> Log IN</h1>
                    <div class="content-section text-white">
                        <form method="POST">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                <legend class="border-bottom mb-4"> Log In</legend>
                                {{ form|crispy }}
                            </fieldset>
                            <div class="form-group">
                                <button class="btn btn-outline-info" type="submit">Log In</button>
                            <small class=" text-muted ml-2"> <a class="ml-2" href="#">Forgot password?</a></small>
                    
                            </div>
                        </form>
                        <div class=" border-top pt-3">
                            <small class=" text-muted">Need An Account? <a class="ml-2" href="#">Sign Up Now</a></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}