{% extends 'Homeapp/base.html'%}
{% block content%}
{% load crispy_forms_tags %}
<section class="about-section text-center" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="container">
                    <h1 class="text-white mb-4 text center"> register</h1>
                    <div class="content- section">
                        <form method="POST">
                            {% csrf_token%}
                            <feiledset class="form-group text-white">
                            <legend class="border-bottom mb-4">Join Today</legend>
                            {{form | crispy }}
                            </feiledset>
                            <div class="form-group">
                                <button class="btn btn-outline-info" type="submit"> Sign UP</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}