{% extends 'Homeapp/base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<section class="about-section" id="about">
    <div class="container text-white mx-auto py-5">
        <script>

            var some = '{{ word }}';
            console.log('{{ objectframes }}');
            function detect() {
                console.log("asssasasasasasasasas");
            }

        </script>

        <div class="row mx-auto">

            <video id="my-video" width="100%" controls>
                <source src="{{video.video.url}}" type="video/mp4">
                Your browser does not support the video tag
            </video>
      
        </div>
        <div class="row text-white mt-5">
            <div class="col-10">
                <h3>{{video.name}}</h3>
                <p>{{video.description}}</p>
                <form method="POST" action="" class="py-5">
                    {% csrf_token %}
                    <div class="container h-100">
                        <div class="d-flex justify-content-center h-100">
                            <div class="searchbar">
                                <input class="search_input" id="search" name="word" type="text"
                                    placeholder="Search..." />
                                <input href="#" type="submit" name="search" class="search_icon"><i
                                    class="fas fa-search"></i></input>
                            </div>
                        </div>
                    </div>
                </form>
                {% if not messages %}
                {% if word %}
                
                <div class="card">
                    <div class="card-header bg-dark">The {{word}} appears in these times</div>
                    <div class="card-body bg-dark" id="times">
                        <div class="card-text">
                            {% for times in final %}
                            <a href="#" onclick="setCurTime('{{times}}')" class="primary">{{times}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endif %}


            </div>
            {% if user.is_authenticated %}
            {% if request.user == video.user %}
            <form method="POST" class="text-right col-2">
                {% csrf_token %}
                <input class="btn btn-danger text-right" name="delete" type="submit" value="Delete" />
            </form>
            {% endif %}
            {% endif %}

        </div>
    </div>
    <div class="container text-white mx-auto py-5">
        <div class="container">
            <form method="post" class="">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-10 mb-0">
                        {{forms | crispy }}
                    </div>
                    <div class="form-group col-md-2 mb-0">
                        <input type="submit" class="btn btn-outline-info float-fight" value="Comment">
                    </div>
                </div>

            </form>
        </div>
        {% if comments %}
        {% for comment in comments %}
        <div class="card bg-dark my-3 w-80">
            <div class="card-header text-white">
                <div class="text-left">{{comment.user}}</div>
                <div class="text-right">{{comment.post_date}}</div>
            </div>
            <div class="card-body bg-dark">
                <div class="card-text text-white pl-3 text-left">
                    {{comment.comment}}
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</section>
<script>
    function setCurTime(result) {
        console.log(result);
        document.getElementById("my-video").currentTime = result;
    }
</script>
{% endblock content %}