{% extends 'Homeapp/base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<section class="about-section" id="about">
    <div class="container text-white mx-auto py-5">


        <div class="row mx-auto">

            <video id="my-video" width="100%" controls>
                <source src="{{video.video.url}}" type="video/mp4">
                Your browser does not support the video tag
            </video>
        </div>
        <div class="row text-white mt-5">
            <div class="col-10">
                <h3>{{video.name}}</h3>
                <p>{{video.description}}</p>
                <p>{{objectframes}}</p>
            </div>
            {% if user.is_authenticated %}
            {% if request.user == video.user %}
            <form method="POST" class="text-right col-2">
                {% csrf_token %}
                <input class="btn btn-danger text-right" name="delete" type="submit" value="Delete" />
            </form>
            {% endif %}
            {% endif %}

        </div>
    </div>
    <div class="container text-white mx-auto py-5">
        <div class="container">
            <form method="post">
                {% csrf_token %}
                {{forms.as_table}}
                <input type="submit" value="Submit">
            </form>
        </div>
        {% if comments %}
        {% for comment in comments %}
        <div class="card bg-dark my-3 w-80">
            <div class="card-header text-white">
                <div class="text-left">{{comment.user}}</div>
                <div class="text-right">{{comment.post_date}}</div>
            </div>
            <div class="card-body bg-dark">
                <div class="card-text text-white pl-3 text-left">
                    {{comment.comment}}
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</section>
<form method="POST" action="" class="text-right">
    {% csrf_token %}
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="searchbar">
                <input class="search_input" id="search" name="word" type="text" placeholder="Search..." />
                <input href="#" type="submit" name="search" class="search_icon"><i class="fas fa-search"></i></input>
            </div>
        </div>
    </div>
</form>
{% endblock content %}